body{
    background: black;
}
.contraints {
width: 50%;
height: 500px;
display: flex;
gap: 5px;
}
.contraints img {
width: 10%;
height: 100%;
object-fit: cover;
border-radius: 10px;
border: 2px solid black;
transition: all ease-out 2s;
}
.contraints img:hover{
    width: 200%;
 }